<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ "/images/favicon.png" | relURL }}">

    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.Author.name }}"/>
    <meta name="application-name" content="{{ .Site.Params.Author.name }}"/>
    <link rel="publisher" href="{{ .Site.Params.Author.gplus }}"/>
    <meta name="author" content="{{ .Site.Params.Author.name }}"/>
    <meta name="description" content="{{ .Site.Params.Author.name }}"/>
    {{ if  .Params.image }}
    <meta name="thumbnail" content="{{ .Site.BaseURL }}{{ .Params.image }}"/>
    {{ end }}
    <meta name="keywords" content="{{ .Params.tags }}"/>
    <meta name="news_keywords" content="{{ .Params.tags }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="article:author" content="{{ .Site.Params.Author.about }}"/>
    <meta property="og:image:height" content="720"/>
    <meta property="og:description" content="{{ .Site.Params.Author.name }}"/>
    <meta property="og:image:width" content="1200"/>
    {{ if  .Params.image }}
    <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}"/>
    {{ end }}
    <meta property="article:publisher" content="{{ .Site.Params.Author.facebook }}"/>
    <meta property="og:type" content="article"/>
    <meta property="article:section" content="Art"/>
    <meta property="article:published_time" content="{{ .Date.Format "2006/01/02" }}"/>
    <meta property="og:title" content="{{ .Title }}"/>
    {{ if .Site.Params.sharebutton.facebook }}
    <meta property="fb:app_id" content=".Site.Params.sharebutton.facebook"/>
    {{ end }}
    <meta property="article:tag" content="{{ .Params.tags }}"/>
    <meta property="al:ios:app_name" content="{{ .Site.Params.Author.name }}"/>
    <meta property="og:site_name" content="{{ .Site.Params.Author.name }}"/>
    <meta property="article:modified_time" content="{{ .Date.Format "2006/01/02" }}"/>
    <meta name="twitter:app:name:googleplay" content="{{ .Site.Params.Author.name }}"/>
    <meta name="twitter:app:name:ipad" content="{{ .Site.Params.Author.name }}"/>
    {{ if  .Params.image }}
    <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.image }}"/>
    {{ end }}
    <meta name="twitter:site" content="@{{ .Site.Params.Author.twitter }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:app:name:iphone" content="{{ .Site.Params.Author.name }}"/>
    <meta name="twitter:dnt" content="on">

    <link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/bb7ca4e565.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | relURL }}">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  </head>
  <body>
    <div id="wrap">
      <header class="site-header">
        <div class="image-header">
          <a href="/"><img alt="A collection of 14 images from The Canal Project series" src="/header.jpg"></a>
        </div>
      </header>
      <div class="container">
       <div id="main">
