<div class="sidebar">
  {{ with .Site.Params.adsense.sidebar }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Sponsored link</span>
    </div>
    <div class="adsense">
      {{ partial . }}
    </div>
  </div>
  {{ end }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Author</span>
    </div>
    <div id="author">
      <p>{{ .Site.Params.author.name }}</p>
      {{ with .Site.Params.author.email }}
      <p>
        <a href="mailto:{{ . }}">{{ . }}</a>
      </p>
      {{ end }}
      <div>
        <p>
          {{ with .Site.Params.Author.mastodon }}
          <a href="{{ . }}"><i class="fa-brands fa-mastodon  fa-2x"></i></a>
          {{ end }}
          {{ with .Site.Params.Author.github }}
          <a href="https://github.com/{{ . }}"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
          {{ end }}
          {{ with .Site.Params.Author.linkedin }}
          <a href="https://www.linkedin.com/in/{{ . }}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
          {{ end }}
        </p>
      </div>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Projects</span>
    </div>
    <div id="projects">
      <ul>
        <li><a href="https://www.the-canal-project.com">The Canal Project</a></li>
        <li><a href=".">Parisians: In Studio / In Situ</a> (website coming soon)</li>
      </ul>
    </div>
  </div>
  {{ with .Site.Taxonomies.tags }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>Categories</span>
    </div>
    <div class="categories">
      <ul>
        {{ range $tag, $taxonomy := . }}
        <li>
          <a href="{{ "/tags/" | relURL }}{{ $tag | urlize }}">{{ $tag }} ({{ $taxonomy.Count }})</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  {{ end }}
  <div class="sidebar-content">
    <div class="sidebar-header">
      <span>RSS</span>
    </div>
    <div id="rss">
      <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" type="application/rss+xml" target="_blank">
        <i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
